@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,300;0,700;0,900;1,300&display=swap');
@keyframes transform {
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
}
@keyframes background {
  from{
    background-color: darkblue;
  }
  to{
    background-color: red;
  }
}
* {
    box-sizing: border-box;
  }
  h1{
    padding: 0;
    margin: 0;
  }
  a{
      text-decoration: none;
      list-style: none;
      color: #fff;
  }
:root{
 --gold: #FDB927;
 --purple: #552583;
 --contrast: #F58225;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #000000;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
     margin: 0px;
  }
  
  .nav {
      z-index: 99;
    transition: background-color .5s; 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 80px;
    width: 100%;
    background-color: #4d4d4d00;
    position: fixed;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
      display: none;
    background-color: #4d4d4d00;
    display: inline;
    float: right;
    font-size: 1.2rem;
    height: 100%;
  }
  .nav > .nav-links > a {
    margin-right: 40px;
    overflow: hidden;
    display: inline-block;
    transition: .3s all ease-in-out;
    padding: 24px;
    text-decoration: none;
    color: #efefef;
  }
  .nav > #nav-check {
    display: none;
  }
.nav-links a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.856);
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}
.nav-links a:hover{
    color: rgba(255, 255, 255, 0.692);
}
.nav-links a:hover::after {
    transform: scaleX(1);
}
.scrolling-active {
    height: 60px;
    background-color: var(--gold) !important;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}
.scrolling-active .nav-links a {
    padding: 20px;
    color: #000;
}
.scrolling-active .nav-links a::after{
    background-color: #000;
}
.banner{
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    padding: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.7)
      ), url(https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1924&q=80);
    
    background-position: center;
    background-size: cover;
}
.banner h1{
    z-index: 1;
    width: 700px;
    padding: 20px;
    position: relative;
    top: -20px;
    color: #fff;
    font-family:'Raleway';
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}
.banner h1 span{
    font-size: 4.5rem;
}
.button{
  
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 900;
    display: flex;
    place-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    border: solid;
    box-shadow: 0 0 0 inset #00000000;
    transition: .5s all cubic-bezier(0.5, 0.01, 0, 0.9);
    border-color: #fff;
}
.btn2{
  font-size: 1.5rem;
  background-color: var(--purple);
  color: #fff;
}
.button:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    box-shadow: 0 60px 0 inset var(--gold);
}
.button:hover a{
    color: #000;
}
.first-section{
    overflow-y: hidden;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}
.text:nth-child(1){
    font-family: 'Raleway', sans-serif;
    width: 40%;
    height: 400px;
    margin: 60px;
    margin-top: 120px;
    background-color: #fff;
}
.image{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 60px;
    margin-top: 100px;
    width: 60%;
    height: 400px;
    background-color: #fff;
}
#images1{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://image.freepik.com/free-photo/job-interview-candidate-selection-employment_342744-729.jpg) ;
}
.first-title{
  cursor: pointer;
  width: auto;
}
.first-title::after{
  content: '';
  display: block;
  position: relative;
  top: -13px;
  width: 97%;
  height: 12px;
  background-color: #562583a3;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease-in-out;
}
.first-title:hover::after{
  transform: scaleX(1);
}
.second-section{
  transform:  skewY(-3deg);
  height: 70vh;
  background-color: #174EA6;
}
.third-section{
  font-family: 'Raleway', sans-serif;
  height: 80vh;
}

.container{
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  height: 80%;
  width: 80%;
}
.card{
  transform:  skewY(3deg);
  border-radius: 20px;
  margin-top: 10%;
    padding: 20px;
    background-color: darkblue;
    height: 100%;
}
.card h1,.card p{
  color: #fff;
  text-align: center;
}
.card p{ 
  font-size: 1.5rem;
}
.highlight{
 /* only animation-duration here is required, rest are optional (also animation-name but it will be set on hover)*/
 animation-duration: 1s; /* same as transition duration */
 animation-timing-function: linear; /* kind of same as transition timing */
 animation-delay: 0ms; /* same as transition delay */
 animation-iteration-count: 1; /* set to 2 to make it run twice, or Infinite to run forever!*/
 animation-direction: normal; /* can be set to "alternate" to run animation, then run it backwards.*/
 animation-fill-mode: none; /* can be used to retain keyframe styling after animation, with "forwards" */
 animation-play-state: running; /* can be set dynamically to pause mid animation*/
}
.highlight-text2{
  z-index: 80;
}

.highlight-text{
  animation: background 2s;
  background-color: red;
}
.title{
  margin-top: 40px;
  font-size: 3.5rem;
  text-align: center;
}
.text-centralize{
  text-align: center;
  font-size: 1.5rem;
}
.container-buttons{
  display: flex;
  place-content: center;
  gap: 20px;
}
.grandes-fornecedores{
  display: none;
  place-content: center;
  gap: 30px;
  margin-top: 70px;
}
.fornecedores-locais{
  padding: 60px;
  display: none;
  place-content: center;
}
.logo{
  transition: .3s all ease-in-out;
  filter: grayscale(100%);
  cursor: pointer;
  font-size: 3rem;
}
.logo:nth-child(2) img, .logo:nth-child(3) img{
  max-width: 150px;
  border-radius: 20px;
}
.logo:hover{
  color: var(--contrast);
  filter: none;
}










  @media (max-width:600px) {
    .btn2{
      font-size: 1rem;
    }
    #images1{
      background-size: cover;
    }
    .banner h1{
      font-size: 1.5rem;
      width: 400px;
    }
    .banner h1 span{
      font-size: 3rem;
    }
    .first-section{
      overflow-y: hidden;
      max-height: calc(100vh + 400px);
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-around;
  }
  .first-title{
    width: 200px;
  }
.second-section{
  height: 800px;
}
  .container{

    grid-template-columns: repeat(1, 1fr);

  }
  .card{
    height: 200px;
  }
    .scrolling-active {
        background-color: #4d4d4d00 !important;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    }
    .nav{
        display: none;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      height: 13px;
      padding: 0px;
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.541);
      backdrop-filter: blur(10px);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      padding: 13px 10px 13px 10px;
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links, .nav {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links, .nav{
      height: calc(100vh);
      overflow-y: auto;
    }
  }